/*
* Theme Name: Muusico
* Theme URI: http://www.2035themes.com/muusico
* Author: 2035Themes
* Author URI: http://themeforest.net/user/2035Themes
* Description: Responsive Parallax Lyrics Wordpress Theme
* Version: 2.9.6
* License: GNU General Public License version 3.0
* License URI: http://www.gnu.org/licenses/gpl-3.0.html
* Tags: two-columns
* Text Domain: muusico
*/

/* Table Of Content
1   - Reset
2   - Global Css
3   - Blog
4   - Contact Form
5   - Header
6   - Lyrics
7   - Footer
8   - 404     
*/

/*-----------------------------------------------------------------------------------*/
/*   Reset
/*-----------------------------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:visited,
a:focus,
a:active,
a:hover,
a:link {
	outline: 0 none !important;
	text-decoration: none !important;
}

.pos-center {
	text-align: center;
	margin: 0 auto;
}


/*-----------------------------------------------------------------------------------*/
/*   Global
/*-----------------------------------------------------------------------------------*/


body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #444;
	background: #FFF;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

a {
	color: #222;
	text-decoration: none;
	-webkit-transition-property: color, text;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-property: color, text;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: linear, ease-in;
	-o-transition-property: color, text;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: linear, ease-in;
}

a,
a:visited,
a:focus,
a:active {
	outline: 0 none !important;
}

a:hover {
	color: #e4422e;
	text-decoration: none;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

h1 {
	font-family: Oswald;
	font-size: 32px;
	color: #000;
}

h2 {
	font-family: Oswald;
	font-size: 26px;
	color: #000;
}

h3 {
	font-family: Oswald;
	font-size: 21px;
	color: #000;
	letter-spacing: 0.0500em;
}

h4 {
	font-family: Oswald;
	font-size: 18px;
	color: #000;
}

h5 {
	font-family: Oswald;
	font-size: 13px;
	color: #000;
}

h6 {
	font-family: Oswald;
	font-size: 11px;
	color: #000;
}


.margint5 {
	margin-top: 5px !important;
}

.margint10 {
	margin-top: 10px !important;
}

.margint20 {
	margin-top: 20px !important;
}

.margint30 {
	margin-top: 30px !important;
}

.margint40 {
	margin-top: 40px !important;
}

.margint50 {
	margin-top: 50px !important;
}

.margint60 {
	margin-top: 60px !important;
}

.margint70 {
	margin-top: 70px !important;
}

.margint80 {
	margin-top: 80px !important;
}

.margint90 {
	margin-top: 90px !important;
}

.margint100 {
	margin-top: 100px !important;
}

.margint120 {
	margin-top: 120px !important;
}

.marginb10 {
	margin-bottom: 10px !important;
}

.marginb20 {
	margin-bottom: 20px !important;
}

.marginb30 {
	margin-bottom: 30px !important;
}

.marginb40 {
	margin-bottom: 40px !important;
}

.marginb60 {
	margin-bottom: 60px !important;
}

.marginb90 {
	margin-bottom: 90px !important;
}

.marginb100 {
	margin-bottom: 100px !important;
}

.marginb120 {
	margin-bottom: 120px !important;
}

.padrl20 {
	padding: 0 20px;
}

.padrl50 {
	padding: 0 50px;
}

.padt20 {
	padding-top: 20px;
}

.padt40 {
	padding-top: 40px;
}

.padt50 {
	padding-top: 50px;
}

.padt60 {
	padding-top: 60px;
}

.padb60 {
	padding-bottom: 30px;
}

.pad5 {
	padding: 5px;
}

.pad10 {
	padding: 10px;
}

.pad20 {
	padding: 20px;
}

.pad30 {
	padding: 30px;
}

img {
	max-width: 100%;
	height: auto;
}


.alignleft {
	float: left;
	margin: 10px auto;
	margin-right: 20px;
}

.alignright {
	float: right;
	margin: 10px auto;
	margin-left: 20px;
}

.aligncenter {
	display: block;
	margin: 10px auto;
	margin: 20px auto;
}


/*-----------------------------------------------------------------------------------*/
/*   Blog
/*-----------------------------------------------------------------------------------*/

.blog-entry {
	margin-bottom: 60px;
}

#blog .blog-back {
	background: #2f2b30;
	padding-bottom: 40px;
}

.post-content-blog h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 10px 0;
}

.post-format-icon {
	background: #FFF;
	padding: 15px;
	margin-top: 10px;
	text-align: center;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: #E24335;
}

blockquote {
	border-left: solid 3px #e4422e;
	padding-left: 10px;
	margin: 20px 0;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

cite {
	font-size: 13px;
	font-weight: 500;
	color: #e4422e;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	margin-top: 10px;
}

table {
	width: 100% !important;
}

caption {
	padding: 0 0px;
	text-align: left;
	font-weight: bold;
	margin: -2px 0 2px 0;
}

thead {
	font-size: 13px;
}

thead th {
	padding: 4px 4px;
	font-weight: bold;
	border-top: 1px solid #ededed;
	text-align: center;
}

tbody {
	background: #f5f5f5;
}

tbody td {
	background: #f5f5f5;
	border: 1px solid #FFF;
	text-align: center;
	padding: 2px 2px;
}

tbody td:hover {
	background: #ededed;
}

tbody .pad {
	background: none;
}

tbody .pad:hover {
	background: none;
}

dl dt {
	font-weight: 600;
}

dl dd {
	padding-left: 10px;
	padding-top: 3px;
	margin-bottom: 10px;
}

p:empty {
	display: none;
}

dl dd:last-child {
	margin-bottom: 0px;
}

em {
	font-style: italic;
}

q {
	border-left: solid 3px #e4422e;
	padding-left: 15px;
	margin-left: 10px;
	line-height: 24px;
	color: #727272;
}


address {
	margin: 20px 0;
	position: relative;
	padding-left: 50px;
	padding-top: 10px;
	font-style: italic;
	font-size: 12px;
	line-height: 19px;
}

address:before {
	content: "\f041";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #dcdcdc;
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
	top: 10px;
	left: 0;
}

strong {
	font-weight: 600;
}

ol strong {
	padding: 0;
}

big {
	font-size: 18px;
}

em {
	font-style: italic;
}

kbd {
	padding: 5px;
	background: #e4422e;
	color: #FFF;
}

pre {
	padding: 20px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-property: all;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: linear, ease-in;
	-o-transition-property: all;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: linear, ease-in;
}

pre:hover {
	padding: 30px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-property: all;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: linear, ease-in;
	-o-transition-property: all;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: linear, ease-in;
}

var {
	color: #e4422e;
	font-weight: 600;
}

img[class*="wp-image-"],
img[class*="attachment-"],
.post img,
.post {
	max-width: 100%;
	height: auto;
}


.wp-caption {
	border: solid 1px #e8e8e8;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	max-width: 100%;
}

.wp-caption-text {
	margin-top: 10px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
	display: block;
}


.blog-content .gallery dt {
	margin-right: 10px;
}

.blog-content ul,
.page-main ul {
	list-style: circle;
	margin-left: 20px;
}

.blog-content ul li,
.page-main ul li {
	list-style: circle;
}

.blog-content ol,
.page-main ol {
	list-style: decimal;
	margin-left: 20px;
}

.post-materials ul li,
.page-main ul li {
	list-style: none;
}

.post-materials ul {
	margin-left: 0;
}

.wp-caption {
	max-width: 100%;
	border: 1px solid #ddd;
	background: #ebebeb;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wp-caption .wp-caption-text {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wp-caption img {
	margin-bottom: 10px !important;
	display: block;
}

.post-materials {
	display: block;
	margin: 10px 0;
}

.post-materials ul li {
	float: left;
	margin-right: 15px;
	font-size: 13px;
	color: #222;
}

.post-materials ul li i {
	padding-right: 6px;
	color: #e4422e;
}

.button {
	background: #e4422e;
	border-bottom: solid 3px #1f1b20;
	padding: 5px 18px;
	display: inline-block;
	border-radius: 3px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-property: all;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: linear, ease-in;
	-o-transition-property: all;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: linear, ease-in;
}

.button a {
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.0300em;
}

.button:hover {
	background: #1f1b20;
}

.continue-reading {
	margin-top: 20px;
}

.continue-reading a {
	font-weight: 600;
}

.post-paginate p {
	color: #e4422e;
}

.post-paginate a {
	color: #888;
}

.blog-sidebar {
	margin-top: 50px;
}

.searchform .screen-reader-text {
	display: none;
}

.searchform {
	padding-bottom: 40px;
}

.sidebar-widget {
	margin-bottom: 40px;
}

.sidebar-widget h3 {
	margin-top: 20px;
}

.sidebar-widget hr {
	margin: 10px 0;
	background: #e4422e;
	height: 2px;
	width: 20px;
}

.sidebar-widget ul li {
	position: relative;
	line-height: 31px;
}

.sidebar-widget select {
	width: 100%;
	border: solid 1px #e8e8e8;
	background: #FFF;
	height: 40px;
}

.searchform input {
	margin-bottom: 0px;
}

.searchform input[type="text"] {
	width: 67%;
	float: left;
	border: solid 1px #eaeaea;
	height: 40px;
	padding-left: 10px;
	background: #FFF;
	margin: 0;
	padding: 0;
	padding-left: 5px;
}

.searchform input[type="submit"] {
	width: 30%;
	float: right;
	display: inline-block;
	background: #e4422e;
	border: none;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.0300em;
	border-bottom: solid 3px #1f1b20;
	padding: 7px 14px;
	display: inline-block;
	border-radius: 3px;
	margin: 0;
}

/* Blog Pagination */

.pagination {
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	margin-top: 20px !important;
	border-top: solid 2px #f0f0f0;
	display: inline-block;
	margin-bottom: 60px;
}

.pagination a:hover {
	color: #fff !important;
}

.prev-post {
	float: right;
	border-radius: 4px;
	padding: 4px 10px;
}


.next-post {
	float: left;
	border-radius: 4px;
	padding: 4px 10px;
	margin: 0;
}

.prev-post:hover,
.next-post:hover {
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.post-password-form {
	background: #f5f5f5;
	padding: 30px;
}

.post-password-form input[type="password"] {
	border: solid 1px #e8e8e8;
	height: 40px;
}

.post-password-form input[type="submit"] {
	background: #e4422e;
	border: none;
	height: 38px;
	color: #FFF;
	padding: 0 10px;
	float: none;
}

.post-password-form input[type="submit"]:hover {
	background: #282828;
}

/* Custom Pagination */

.custom-pagination {
	margin-bottom: 25px !important;
}

.custom-pagination ul li {
	float: left;
	margin-right: 5px;
}

.custom-pagination ul li a {
	padding: 8px 13px;
	border: 1px solid #e8e8e8;
	background: #f0f0f0;
	font-size: 13px;
	color: #333;
	transition: color 0s;
}

.custom-pagination ul li a:hover {
	background-color: #e4422e;
	color: #fff !important;
}

.custom-pagination ul li.active a {
	background-color: #e4422e;
	color: #fff;
}

.ajax-load-more {
	display: inline-block;
	padding: 8px 16px;
	background-color: #e4422e;
	color: #fff !important;
}

.ajax-load-more:hover {
	cursor: pointer;
}

/* Comment form */

input[type="text"] {
	border: solid 1px #777;
	width: 100%;
	background: none;
	display: inline-block;
}

.contact-form-style input[type="submit"] {
	float: right;
	display: inline-block;
	background: #e4422e;
	border: none;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.0300em;
	border-bottom: solid 3px #1f1b20;
	padding: 5px 14px;
	display: inline-block;
	border-radius: 3px;
}


.contact-form-style input {
	margin-top: 10px;
	padding: 10px;
	border: solid 1px #eaeaea;
}

.contact-form-style textarea {
	margin-top: 20px;
	border: solid 1px #eaeaea;
	height: 220px;
	padding: 10px;
	width: 100%;
}

.user-comment-box {
	background: #f7f7f7;
	padding: 20px;
}

.user-comment-box .author a {
	font-size: 18px;
}

.user-comment-box .date {
	font-size: 10px;
}

ol.comment-list {
	list-style: none;
	margin-left: 0;
}

.comment-content h4 {
	padding: 0;
}

.comments .children li {
	list-style: none !important;
	margin: 0;
	margin-left: 20px;
}

.leave-a-comment p {
	font-size: 18px !important;
}

.comments-blog-post-top {
	border-bottom: solid 1px #ebebeb;
	padding-top: 10px;
	padding-bottom: 20px;
}

.com-title h4 {
	font-size: 21px;
	text-transform: uppercase;
	color: #222;
}

.com-info {
	margin-top: 10px;
	font-size: 12px;
}

::-webkit-input-placeholder {
	color: #555;
	font-size: 11px;
	letter-spacing: 0.0300em;
	font-weight: 600;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #555;
	font-size: 11px;
	letter-spacing: 0.0300em;
	font-weight: 600;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #555;
	font-size: 11px;
	letter-spacing: 0.0300em;
	font-weight: 600;
}

:-ms-input-placeholder {
	color: #555;
	font-size: 11px;
	letter-spacing: 0.0300em;
	font-weight: 600;
}

/*-----------------------------------------------------------------------------------*/
/*   Contact Form
/*-----------------------------------------------------------------------------------*/

/* Contact Form */

.wpcf7 input[type="text"],
input[type="email"] {
	border: solid 1px #eaeaea;
	width: 70%;
	background: none;
	display: inline-block;
	margin-bottom: 20px;
	height: 40px;
	padding-left: 10px;
}

.wpcf7 input[type="submit"] {
	float: right;
	display: inline-block;
	background: #e4422e;
	border: none;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.0300em;
	border-bottom: solid 3px #1f1b20;
	padding: 5px 14px;
	display: inline-block;
	border-radius: 3px;
	margin-top: 20px;
}


.wpcf7 textarea {
	width: 100%;
	border: solid 1px #eaeaea;
	height: 220px;
	padding: 10px;
	width: 100%;
}

.form-submit {
	margin-top: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*   Header
/*-----------------------------------------------------------------------------------*/

.empty-menu {
	color: #FFF;
}

.empty-menu a {
	color: #FFF;
	text-decoration: underline;
}

.logo {
	height: 90px;
	display: table;
	overflow: hidden;
}

.logo .limg {
	display: table-cell;
	vertical-align: middle;
}

.menu {
	height: 90px;
	line-height: 90px;
}

.header-search {
	position: relative;
	height: 90px;
	line-height: 90px;
	color: #FFF;
	margin-left: 20px;
	width: 15px;
}

.header-search a i {
	color: #fff;
}

#mini-search-wrapper {
	position: absolute;
	left: -260px;
	top: 70px;
	width: 295px;
	background: #eaeaea;
	border-radius: 5px;
	text-align: center;
	padding: 10px 10px;
	display: none;
	height: 95px;
}

#mini-search-wrapper {
	line-height: 40px;
}

#mini-search-wrapper:before {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #eaeaea transparent;
	top: -10px;
	right: 20px;
}

#mini-search-wrapper input.s-input {
	background: #FFF;
	height: 44px;
	min-width: 180px;
	border: solid 1px #e8e8e8;
	margin: 0;
	padding: 0 5px;
	font-size: 13px;
	margin-left: -10px;
}

#mini-search-wrapper input.s-submit {
	float: right;
	width: 80px;
	display: inline-block;
	background: #e4422e;
	border: none;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.0300em;
	border-bottom: solid 3px #1f1b20;
	padding: 5px 14px;
	display: inline-block;
	border-radius: 3px;
	line-height: 30px;
}

.pre-header {
	background: #1f1b20;
	border-radius: 4px;
	color: #FFF;
	height: 50px;
}

.pre-header a {
	color: #FFF;
}

.slicknav_menu {
	display: none;
}

/* Header Social */

.social-icons {
	height: 90px;
	line-height: 90px;
	font-size: 16px;
}

.social-icons ul li {
	float: left;
	margin-left: 20px;
}

.social-icons ul li i.fa-facebook {
	color: #4964A1;
}

.social-icons ul li i.fa-twitter {
	color: #55ACEE;
}

.social-icons ul li i.fa-instagram {
	color: #3F729B;
}

.social-icons ul li i.fa-tumblr {
	color: #35465C;
}

.social-icons ul li i.fa-youtube-play {
	color: #E52D27;
}

.social-icons ul li i.fa-google-plus {
	color: #DD4B39;
}

.social-icons ul li i.fa-lastfm {
	color: #C3000D;
}

.social-icons ul li i.fa-soundcloud {
	color: #FF8800;
}

.social-icons ul li i.fa-spotify {
	color: #7AB800;
}

/* Nav */

.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu ul {
	position: absolute;
	display: none;
	top: 90%;
	left: 10px;
	z-index: 99;
}

.sf-menu .sub-menu .sub-menu {
	top: 0;
}

.sf-menu ul li ul {
	position: absolute;
	display: none;
	top: -37px;
	left: 100%;
	z-index: 99;
}

.sf-menu li:hover>ul,
.sf-menu li.sf-menuHover>ul {
	display: block;
}

.sf-menu li {
	white-space: nowrap;
	-webkit-transition: background .2s;
	transition: background .2s;
	float: left;
	padding-left: 25px;
	letter-spacing: 1px;
}

.sf-menu li a {
	display: block;
	position: relative;
	zoom: 1;
	font-size: 16px;
	font-weight: 600;
	color: #FFF;
}

.menu-container-top .sf-menu li a {
	display: block;
	position: relative;
	zoom: 1;
	font-size: 16px;
	font-weight: 600;
	color: #FFF;
}

.sf-menu li a:hover {
	text-decoration: none;
	color: #e4422e !important;
}

.sf-menu ul li {
	width: 100%;
	min-width: 200px;
	background: #101010;
	padding: 10px;
	border-bottom: 1px solid #222;
	line-height: 30px;
	padding: 10px 24px;
}

.sf-menu ul li:hover {
	background: #222;
}

.sf-menu ul li:last-child {
	border-bottom: 0;
}

.sf-menu ul li a {
	color: #a8a8a8 !important;
	font-size: 14px;
}

.sf-menu ul li a:hover {
	color: #a8a8a8 !important;
}

.sf-menu .menu-item-has-children ul {
	float: none;
}

.sf-menu .menu-item-has-children {
	position: relative;
	margin-right: 20px;
}

.sf-menu .sub-menu .menu-item-has-children {
	position: relative;
	margin-right: 0px;
}

.sf-menu .menu-item-has-children:before {
	content: "\f078";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #FFF !important;
	font-size: 9px;
	padding-right: 0.5em;
	position: absolute;
	top: 0px;
	right: -23px;
}

.menu-container-top .sf-menu .menu-item-has-children:before {
	content: "\f078";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #fff !important;
	font-size: 9px;
	padding-right: 0.5em;
	position: absolute;
	top: 0px;
	right: -23px;
}

.sf-menu ul.sub-menu .menu-item-has-children:before {
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #a8a8a8 !important;
	font-size: 9px;
	padding-right: 0.5em;
	position: absolute;
	top: 10px;
	right: 10px;
	background: #101010;
}

.sf-menu ul.sub-menu ul.sub-menu .menu-item-has-children:before {
	display: none;

}

.sf-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu {
	display: none !important;
}

ul.sub-menu li.menu-item-has-children:hover:before {
	background: #222;
}

ul.sub-menu li ul li {
	float: none !important;
}

.sf-menu .menu-item-has-children:hover:before {
	color: #e4422e !important;
}

/* Header Alphabet */

.lyric-alphabet {
	flex: row;
}
















.lyric-alphabet ul {
	padding-left: 10px;
}

.lyric-alphabet ul li {
	float: left;
	line-height: 50px;
}

.lyric-alphabet ul li:hover {
	background: #000;
}



.lyric-alphabet ul li a {
	font-size: 13px;
	font-weight: 600;
	padding: 0px 14px;
	display: inline-block;
}

.lyric-alphabet ul li a:hover {
	color: #e4422e;
}

.submit-lyric {
	background: #e4422e;
	width: 16%;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	line-height: 50px;
}

.submit-lyric a {
	width: 100%;
	line-height: 50px !important;
	display: block;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	letter-spacing: 0.0500em;

}

.submit-lyric a:hover {
	color: #f5f5f5 !important;
}

.lyric-home {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 150px;
	background: #302932;
}

.lyric-search {
	padding: 130px 0 75px 0;
}

.lyric-search h1 {
	color: #FFF;
	font-size: 35px;
	letter-spacing: 0.0300em;
}

.lyric-search-input {
	margin-top: 35px;
}

.search-wrapper {
	width: 55%;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}

.lsearchl {
	width: 100%;
}

.lsearchr {
	width: 20px;
	margin-left: -40px;
}

.search-wrapper i {
	color: #E4422E;
	cursor: pointer;
	font-size: 18px;
}

.lyric-search-input input[type="search"] {
	width: 100%;
	height: 60px;
	background: rgba(255, 255, 255, .9);
	border-radius: 30px;
	border: solid 5px rgba(255, 255, 255, .4);
	padding-left: 20px;
}

.slabel {
	margin-top: 20px;
}

.lyric-search-input input[type="submit"] {
	width: 100%;
	position: relative;
	border: none;
	background: none;
}

.big-letter {
	margin-top: 120px;
}

.big-letter h1 {
	font-size: 150px;
}

/* Popular Lyrics */
.content-capsule {
	position: relative;
}

.content-pull {
	width: 100% !important;
	position: absolute;
	top: -100px;
	left: 0;
}

.popular-lyrics-container,
.page-container {
	position: relative;
}

.popular-lyrics,
.latest-lyrics-container {
	background: #FFF;
	padding: 28px 20px 20px 20px;
}

.latest-lyrics-container {
	padding-bottom: 40px !important;
}

.second-container {
	background: #fff;
	padding: 25px 0px 5px 25px;
}

.second-padding {
	padding: 5px 25px !important;
}

.latest-lyrics-container {
	padding-bottom: 30px;
}

.latestnew.title {
	margin-left: 15px;
	margin-bottom: 5px;
}

.latestnew.title h3 i {
	font-size: 21px;
	color: #e4422e;
	padding-right: 7px;
}

.popular-lyrics .title h3 i,
.latest-lyrics-container h3 i {
	font-size: 21px;
	color: #e4422e;
	padding-right: 7px;
}

.full-screen-list ul li {
	position: relative;
	height: 350px;
	margin-bottom: 20px;
}

.full-screen-list ul li:last-child {
	margin-right: 0;
}

.full-screen-list ul li a:hover {
	text-decoration: underline !important;
}

.full-screen-list ul li {
	background-size: cover !important;
	background-position: center center !important;
}

.full-screen-list-inside ul li {
	float: left;
	position: relative;
	height: 350px;
	width: 205px;
	margin-right: 16px !important;
	margin-bottom: 20px;
	background-size: cover !important;
	background-position: center center !important;
}

.full-artist-album-list ul li {
	margin-right: 13px !important;
	margin-bottom: 15px !important;
}

.full-screen-list-inside ul li:last-child {
	margin-right: 0;
}

.full-screen-list-inside ul li a:hover {
	text-decoration: underline !important;
}

#popular-listr .owl-controls {
	width: 100% !important;
}

#popular-listr .owl-prev {
	position: absolute;
	left: -45px;
	top: 50%;
	width: 75px;
	height: 80px;
	background: rgba(255, 255, 255, 0.8);
	margin-top: -50px;
}

#popular-listr .owl-prev:after {
	content: "\f053";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000 !important;
	font-size: 35px;
	position: absolute;
	top: 30px;
	left: 25px;
}

#popular-listr .owl-next {
	position: absolute;
	right: -45px;
	top: 50%;
	width: 75px;
	height: 80px;
	background: rgba(255, 255, 255, 0.8);
	margin-top: -50px;
}

#popular-listr .owl-next:after {
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000 !important;
	font-size: 35px;
	position: absolute;
	top: 30px;
	left: 25px;
}

.item-text {
	position: absolute;
	padding: 10px;
	z-index: 99999999;
	bottom: 15px;
	color: rgba(255, 255, 255, .8);
}

.item-text h3 {
	line-height: 21px;
	padding-bottom: 5px;
}

.item-text a,
.item-text h3 {
	color: #FFF;
}

.item-text a:hover {
	color: #FFF !important;
}

.second-container .gradient ul,
.second-container .custom-pagination ul,
.second-container .full-artist-album-list ul {
	list-style: none;
	margin-left: 0;
}

.gradient ul li .item,
.owl-item .item {
	width: 100%;
	height: 350px;
	z-index: 99999;
	position: absolute;
	background: #d71a8d;
	background: -moz-linear-gradient(top, #d71a8d 0%, #f84327 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d71a8d), color-stop(100%, #f84327));
	background: -webkit-linear-gradient(top, #d71a8d 0%, #f84327 100%);
	background: -o-linear-gradient(top, #d71a8d 0%, #f84327 100%);
	background: -ms-linear-gradient(top, #d71a8d 0%, #f84327 100%);
	background: linear-gradient(to bottom, #d71a8d 0%, #f84327 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d71a8d', endColorstr='#f84327', GradientType=0);
	opacity: .9;
}

.gradient ul li:nth-child(2n) .item,
.owl-item:nth-child(2n) .item {
	background: #684dbe;
	background: -moz-linear-gradient(top, #684dbe 0%, #2387dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #684dbe), color-stop(100%, #2387dc));
	background: -webkit-linear-gradient(top, #684dbe 0%, #2387dc 100%);
	background: -o-linear-gradient(top, #684dbe 0%, #2387dc 100%);
	background: -ms-linear-gradient(top, #684dbe 0%, #2387dc 100%);
	background: linear-gradient(to bottom, #684dbe 0%, #2387dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#684dbe', endColorstr='#2387dc', GradientType=0);
	opacity: .9;
}

.gradient ul li:nth-child(3n) .item,
.owl-item:nth-child(3n) .item {
	background: #523498;
	background: -moz-linear-gradient(top, #523498 0%, #903071 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #523498), color-stop(100%, #903071));
	background: -webkit-linear-gradient(top, #523498 0%, #903071 100%);
	background: -o-linear-gradient(top, #523498 0%, #903071 100%);
	background: -ms-linear-gradient(top, #523498 0%, #903071 100%);
	background: linear-gradient(to bottom, #523498 0%, #903071 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#523498', endColorstr='#903071', GradientType=0);
	opacity: .9;
}

.gradient ul li:nth-child(4n) .item,
.owl-item:nth-child(4n) .item {
	background: #edc40a;
	background: -moz-linear-gradient(top, #edc40a 0%, #cf482f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edc40a), color-stop(100%, #cf482f));
	background: -webkit-linear-gradient(top, #edc40a 0%, #cf482f 100%);
	background: -o-linear-gradient(top, #edc40a 0%, #cf482f 100%);
	background: -ms-linear-gradient(top, #edc40a 0%, #cf482f 100%);
	background: linear-gradient(to bottom, #edc40a 0%, #cf482f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edc40a', endColorstr='#cf482f', GradientType=0);
	opacity: .9;
}

.lyric-search-input ::-webkit-input-placeholder {
	color: #848484;
	font-size: 14px;
	letter-spacing: 0.0300em;
	font-family: PT Sans;
	font-weight: 400;
}

.homepage-advertisement {
	background: #fff;
	padding: 0 20px;
	padding-top: 20px;
	padding-bottom: 12px;
}

.homepage-news {
	background: #fff !important;
	padding: 0 5px;
	padding-top: 27px;
	padding-bottom: 10px;
}

.lyric-search-input :-moz-placeholder {
	/* Firefox 18- */
	color: #848484;
	font-size: 14px;
	letter-spacing: 0.0300em;
	font-family: PT Sans;
	font-weight: 400;
}

.lyric-search-input ::-moz-placeholder {
	/* Firefox 19+ */
	color: #848484;
	font-size: 14px;
	letter-spacing: 0.0300em;
	font-family: PT Sans;
	font-weight: 400;
}

.lyric-search-input :-ms-input-placeholder {
	color: #848484;
	font-size: 14px;
	letter-spacing: 0.0300em;
	font-family: PT Sans;
	font-weight: 400;
}

/* Lyrics */

.latest-lyrics ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.latest-lyrics ul li {
	padding: 16px 32px;
	display: flex;
}

.latest-lyrics ul li:nth-child(2n+2) {
	background: #f9f9f9;
}

.latest-lyrics ul li h5 {
	padding: 0;
}

.latest-lyrics ul li .lyric-content {
	padding-left: 10px;
}

.lyric-number:after {
	content: ".";
}

/*-----------------------------------------------------------------------------------*/
/*   Lyrics
/*-----------------------------------------------------------------------------------*/

.lyrics-title {
	position: absolute;
	bottom: 105px;
}

.lyrics-title h1 {
	padding-bottom: 20px;
}

.lyrics-title h3 {
	color: #fff;
}

.lyrics-title.album {
	bottom: 120px !important;
}

.padding {
	padding: 30px;
}

.padding-in {
	padding: 25px;
}

.artist-padding {
	padding: 13px;
}

.lyric-line {
	border-bottom: solid 1px #f0f0f0;
	padding-bottom: 10px;
}

.lyric-text {
	font-size: 15px;
	line-height: 25px;
}

.lyric-print i {
	padding-right: 3px;
}

.lyric-print a {
	color: #e4422e;
}

.background-single-lyrics {
	height: 500px;
	padding-bottom: 500px;
	background-size: cover;
}

.single-lyrics-overlay {
	position: relative;
	background: rgba(31, 27, 32, .7);
	height: 500px;
	padding-bottom: 500px;
}

.lyrics-title {
	max-width: 1140px;
}

.lyrics-title h3 a {
	color: #e4422e;
}

.lyrics-title h1 {
	color: #FFF;
	font-size: 45px;
	padding-right: 15px;
	line-height: 35px;
}

.lyrics-title h4 a {
	color: #c9c9c9;
	line-height: 40px;
}

.lyrics-title h4 {
	color: #c9c9c9;
}

.single-widget {
	margin-bottom: 20px;
}

.single-widget h4 {
	border-bottom: solid 1px #f0f0f0;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.lyric-bottom {
	border-top: solid 1px #f0f0f0;
	border-bottom: solid 1px #f0f0f0;
	padding: 15px 0;
}

.lyric-bottom .added {
	margin-top: 10px;
	margin-right: 5px;
}

.lyric-bottom h3 {
	padding: 5px 0;
}

.lyric-bottom h4 {
	padding: 0;
	margin-top: 7px;
	margin-right: 5px;
}

.lyric-share {
	margin-top: 3px;
}

.lyric-share ul li {
	float: left;
	list-style: none;
	margin-left: 5px;
}

.lyric-share ul li:hover {
	opacity: 0.9;
}

.lyric-share ul li i {
	width: 30px;
	line-height: 30px;
	height: 30px;
	display: inline-block;
	color: #FFF;
	text-align: center;
}

.lyric-share ul li i.fa-facebook {
	background: #4964A1;
}

.lyric-share ul li i.fa-twitter {
	background: #55ACEE;
}

.table-title {
	font-weight: 600;
}

.album-line {
	background: #f6f6f6;
	padding: 15px 0;
}

.list-line {
	border-bottom: solid 1px #f0f0f0;
	padding: 10px 0;
	padding-bottom: 20px;
}

div.list-line:last-child {
	border-bottom: none;
}

.big-font a {
	font-size: 18px;
}

/*-----------------------------------------------------------------------------------*/
/*   Submit Lyrics
/*-----------------------------------------------------------------------------------*/

#user-submitted-posts label {
	font-size: 14px;
	color: #444;
	line-height: 24px;
	margin-bottom: 3px !important;
}

#user-submitted-posts input {
	border: solid 1px #eaeaea;
	width: 90%;
	background: none;
	display: inline-block;
	margin-top: 3px !important;
	height: 40px;
	padding-left: 10px;
	margin-bottom: 15px !important;
}

#user-submitted-posts textarea {
	border: solid 1px #eaeaea;
	width: 90%;
	background: none;
	display: inline-block;
	margin-top: 3px !important;
	padding-left: 10px;
	margin-bottom: 15px !important;
	width: 90% !important;
}

#user-submitted-posts .usp-video-embed textarea {
	height: 80px;
}

#user-submitted-posts .selectize-input {
	border: solid 1px #eaeaea !important;
	padding: 0 10px !important;
	border-radius: 0;
	width: 90%;
	height: 40px !important;
}

#user-submitted-posts .selectize-input input {
	margin-top: 0 !important;
}

#user-submitted-posts .selectize-input {
	padding-top: 0px !important;
}

#user-submitted-posts .selectize-input.has-items {
	padding-top: 10px !important;
}

#user-submitted-posts .selectize-field {
	font-size: 14px;
	color: #444;
	line-height: 24px;
}

#user-submitted-posts .selectize-input.input-active {
	padding-top: 0 !important;
}

#user-submitted-posts .selectize-field input::-webkit-input-placeholder {
	font-size: 14px;
	color: #888;
	line-height: 24px;
	font-weight: 400;
	margin-top: 0 !important;
}

#user-submitted-posts .selectize-field input:-moz-placeholder {
	/* Firefox 18- */
	font-size: 14px;
	color: #888;
	line-height: 24px;
	font-weight: 400;
	margin-top: 0 !important;
}

#user-submitted-posts .selectize-field input::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 14px;
	color: #888;
	line-height: 24px;
	font-weight: 400;
	margin-top: 0 !important;
}

#user-submitted-posts .selectize-field input:-ms-input-placeholder {
	font-size: 14px;
	color: #888;
	line-height: 24px;
	font-weight: 400;
	margin-top: 0 !important;
}

#usp-submit {
	width: 90%;
}

#usp-submit input[type="submit"] {
	float: right;
	width: 100px;
	display: inline-block;
	background: #e4422e;
	border: none;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.0300em;
	border-bottom: solid 3px #1f1b20;
	padding: 5px 14px;
	display: inline-block;
	border-radius: 3px;
	margin-top: 20px;
}

#user-submitted-posts #usp-success-message {
	font-size: 14px;
	color: #888;
	line-height: 24px;
}

#user-submitted-posts .selectize-input.focus {
	border-color: #eaeaea;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#user-submitted-posts .selectize-control.single .selectize-input:after {
	border-color: #999 transparent transparent transparent !important;
}

#user-submitted-posts .selectize-control.single .selectize-input.dropdown-active:after {
	border-width: 0 5px 5px 5px;
	margin-top: -4px;
	border-color: transparent transparent #999 transparent !important;
}

/*-----------------------------------------------------------------------------------*/
/*   Footer
/*-----------------------------------------------------------------------------------*/

.footer {
	padding: 30px 15px;
}

.blog .footer {
	background: #FFF;
}

.footer .empty-menu {
	color: #555;
}

.footer .empty-menu a {
	color: #222;
}

.footer-menu ul li {
	float: left;
}

.footer-menu ul li a {
	color: #555;
	font-size: 13px;
	font-weight: 400;
}

/*-----------------------------------------------------------------------------------*/
/*   404
/*-----------------------------------------------------------------------------------*/

.single-lyrics-overlay.error_page {
	height: 200px;
	padding-bottom: 200px;
}

.error_icon {
	margin-top: 60px;
}

.error_icon i {
	font-size: 120px;
}

.error_title {
	font-size: 40px;
	margin: 30px 0;
}


/* Updated from 1.0.5 */


.print-lyrics {
	display: none;
}

/* Updated from 1.1 */

.lyric-text p {
	margin: 30px 0;
}


.searchcats {
	position: absolute;
	bottom: 0px;
	opacity: 0;
	z-index: -1;
	width: 100%;
	height: 30px;
}

.searchcats ul {
	padding-left: 20px;
}

.searchcats ul li {
	float: left;
	margin-right: 20px;
	color: #fff;
}

.searchcats ul li input {
	margin-right: 4px;
}

.searchminicats ul li {
	float: left;
	margin-right: 20px;
	color: #000;
}

.searchminicats ul li input {
	margin-right: 4px;
}



ul.genre-list {
	border-top: solid 1px #e8e8e8;
	clear: both;
	padding-bottom: 10px;
	margin-top: 30px;
}

ul.genre-list li {
	float: left;
	margin-right: 5px;
}



ul.genre-list li {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 600;
	color: #888;
}


ul.genre-list li a {
	color: #333;
}



h3.translated {
	border-bottom: solid 1px #ddd;
	padding-bottom: 10px;
	margin-bottom: 20px;
}


ul.related-list li {
	border-bottom: solid 1px #e8e8e8;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.related-list li:last-child {
	border: none;
}



ul.genre-page-list li {
	border-bottom: solid 1px #e8e8e8;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.genre-page-list li:last-child {
	border: none;
}


b {
	font-weight: 600;
}


.lyric-text td {
	text-align: left;
	padding: 10px;
}


.add-more-artists {
	display: none;
	padding-left: 30px;
}

.add-more-artists label {
	display: inline-block;
	width: auto !important;
	padding: 10px;
	background: #FEFEE3;
}


.lyric-alphabet.no-button {
	width: 100% !important;
	line-height: 50px;
}


.lyric-alphabet.no-button ul li a {
	padding: 0 17.5px;
}


.footer-widgets {
	background: #FFF;
	padding: 30px;
	margin: 30px 15px;
	margin-bottom: 5px;
}

.media_background {
	padding: 6px;
}


.second-container ul {
	list-style: disc;
	margin-left: 20px;
}



.second-container ol {
	list-style: decimal;
	margin-left: 20px;
}



.post-paginate {
	display: block;
	width: 100%;
	clear: both;
	font-size: 16px;
}

.post-paginate p {
	opacity: 0.5;
}


.sticky {
	border: solid 2px #eee;
}

.bypostauthor {
	opacity: 0.95;
}

.gallery-caption {
	background: rgba(255, 255, 255, .9);
}