@media only screen and (max-width: 1200px) {
  .lyric-alphabet ul li a {
    font-size: 13px;
    padding: 0px 11px;
    display: inline-block;
  }

  .js .navigate {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .full-screen-list-inside ul li {
    margin-right: 17px !important;
  }

  .full-screen-inside-responsive ul li {
    margin-right: 15px !important;
  }

}

@media only screen and (max-width: 991px) {
  .js .navigate {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }

  .social-icons {
    margin-right: 60px;
  }

  .pre-header {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .pre-header::-webkit-scrollbar {
    display: none;
  }


  .owl-next {
    right: 0 !important;
    width: 50px !important;
    height: 60px !important;
  }

  .owl-prev {
    left: 0 !important;
    width: 50px !important;
    height: 60px !important;
  }

  #popular-list .owl-prev:after {
    top: 20px;
    left: 10px;
  }

  #popular-list .owl-next:after {
    top: 20px;
    left: 15px;
  }

  .lyric-search {
    padding: 7% 0 !important;
  }

}

@media only screen and (max-width: 767px) {
  .latest-lyrics ul li {
    width: 50%;
  }

  .logo {
    padding-left: 15px;
  }

  .latest-lyrics ul li:nth-child(2n+1) {
    background: #fff;
  }

  .search-wrapper {
    width: 75%;
  }

  .social-icons {
    margin-right: 65px;
  }

  .full-screen-list-inside ul li {
    width: 96% !important;
    height: 400px;
    background-position: center top !important;
  }

  .item {
    height: 400px;
  }

  .background-single-lyrics,
  .single-lyrics-overlay {
    height: 350px !important;
    padding-bottom: 350px !important;
  }

  .big-letter {
    margin-top: 50px;
  }

  .full-screen-inside-responsive ul li {
    margin-left: 8px !important;
  }

  .lyric-search h1 {
    font-size: 29px;
    line-height: 29px;
  }

  .lyrics-title h1 {
    font-size: 25px;
    line-height: 25px;
  }

  .footer-menu #nav li {
    float: none;
    margin: 0;
    padding: 0;
  }

  .footer-menu {
    text-align: right;
  }

  .header-search,
  .social-icons {
    display: none;
  }

}


/* Tablet Portrait size to Tablet Landscape (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .full-screen-list-inside ul li {
    margin-right: 21px !important;
  }

  .full-screen-inside-responsive ul li {
    margin-right: 18px !important;
  }

}

@media only screen and (max-width: 767px) {

  .latest-lyrics ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .latest-lyrics ul li {
    padding: 16px 24px;
    display: flex;
  }

  .latest-lyrics ul li .lyric-content {
    flex: 1;
  }

  .latest-lyrics ul li:nth-child(2n+2) {
    background: transparent;
  }

  .latest-lyrics ul li:nth-child(4n-1),
  .latest-lyrics ul li:nth-child(4n) {
    background: #f9f9f9;
  }


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .latest-lyrics ul li {
    width: 100%;
  }

  .footer-logo {
    width: 30%;
  }

  .footer-menu {
    width: 70%;
  }

  #mini-search-wrapper {
    left: -160px;
  }

  #mini-search-wrapper:before {
    right: 120px !important;
  }


  .latest-lyrics ul {
    display: grid;
    grid-template-columns: 1fr;
  }


  .latest-lyrics ul li:nth-child(2n+2) {
    background: transparent;
  }

  .latest-lyrics ul li:nth-child(4n-1),
  .latest-lyrics ul li:nth-child(4n) {
    background: transparent;
  }

  .latest-lyrics ul li:nth-child(2n) {
    background: #f9f9f9;
  }

}